XML Schema Definition/sessions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="session">
		<xs:complexType>
			<xs:attribute name="id" type="xs:positiveInteger"/>
			<xs:attribute name="begin" type="xs:positiveInteger"/>
			<xs:attribute name="end" type="xs:positiveInteger"/>
		</xs:complexType>
	</xs:element>

	<xs:element name="sessions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="session" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>